@font-face {
  font-family: "LatoRegular";
  font-display: swap;
  src: url("./fonts/Lato-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "LatoBold";
  font-display: swap;
  src: url("./fonts/Lato-Bold.ttf") format("truetype");
}
